<div class="container-fluid table-responsive">
  <%= grid(@grid) do |g|
    g.column name: 'Item Type', attribute: 'name', assoc: :item_type do |item|
      item.item_type.name
    end
    g.column name: 'Title', attribute: 'title'
    g.column name: 'When Found' do |item|
      item.when_found.to_s(:long)
    end
    g.column name: 'Where Held', attribute: 'name', assoc: :building do |item|
      item.building.name
    end
    g.column name: 'Where Found', attribute: 'where_found'
    g.column name: 'Description', attribute: 'description'
    g.column name: 'Returned to', attribute: 'name', assoc: :return_user do |item|
      if item.return_user
        link_to(item.return_user.name, item.return_user)
      else
        link_to("Return item", url_for(controller: 'return_users', action: 'new', item_id: item.id))
      end
    end
    g.column name: 'Edit Item' do |item|
      link_to("Edit", edit_item_path(item.id))
    end
  end %>
</div>
